<%= render "shared/header" %> 

<div class="contents row">
  <h1 class="content-name"><%= @name %>さんの読んだ本一覧</h1>
</div>

<%# 部分テンプレートを使用する %>
   <%= render partial: "books/book", locals: { book: @books} %> 

   <%= paginate @books %> 
<%# 部分テンプレートを使用する %>



<%= render "shared/footer" %> 