<div class="header">

  <%# BOOKREVIEWの表示 %>
    <h1 class="header-left">BOOKREVIEW</h1>
  <%# BOOKREVIEWの表示 %>

  <%# ユーザーがログインしていたら表示を変える %>
  <div class="header-center">
    <% if user_signed_in? %>
      <div class="user_nav grid-6">
        <div class="user__info">
          <ul class="lists">
            <li class="list">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-blue"%>
            </li>
            <li class="list">
              <%= link_to "投稿する", new_book_path,
              class: "btn-red" %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="grid-6">
        <ul class="lists">
          <li class="list">
            <%= link_to "ログイン",new_user_session_path, class: "post", class: "btn-blue" %>
          </li>
          <li class="list">
            <%= link_to "新規登録",  new_user_registration_path, class: "post", class: "btn-red" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <%# ユーザーがログインしていたら表示を変える %>

  <%# Searchボタン %>
    <div class="header-right">
      <%= form_with(url: search_books_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "書籍を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
  <%# Searchボタン %>
</div>

<% if user_signed_in? %>
  <div class="myname">
    ようこそ
      <%= link_to  "#{current_user.name}", user_path(current_user.id) %> 
    さん
  </div>
<% end %>