<%= render "shared/header" %> 

  <%# スライドショー %>
  <div class="cp_cssslider">
    <div class="cp_slidewrapper">
      <div class="cp_slide_item"><%= image_tag 'sample1.png' %></div>
      <div class="cp_slide_item"><%= image_tag "sample2.png" %></div>
      <div class="cp_slide_item"><%= image_tag "sample3.png" %></div>
      <div class="cp_slide_item"><%= image_tag "sample4.png" %></div>
      <div class="cp_slide_item"><%= image_tag "sample5.png" %></div>
    </div>
  </div>
  <%# スライドショー %>

  <div class="contents">
    <%# レビューの表示 %>
    <div class="contents-left">
      <div class="card">
        <h1 class="new-review">
          <div class="review-title">
            <span class="new-review-title">最新の要約</span>
          </div>
        </h1>
        <%= render partial: "book", locals: { book: @books} %> 
        <%= paginate @books %>
      </div>
    </div>
    <%# レビューの表示 %>

    <%# ランキングの表示 %>
    <%= render partial: "ranking", locals: { book: @books} %> 
    <%# ランキングの表示 %>
  </div>

<%= render "shared/footer" %> 

