<%= render "shared/header" %> 

  <%# スライドショー %>
  <div class="cp_cssslider">
    <div class="cp_slidewrapper">
      <div class="cp_slide_item"><%= image_tag 'sample1.png' %></div>
      <div class="cp_slide_item"><%= image_tag "sample2.png" %></div>
      <div class="cp_slide_item"><%= image_tag "sample3.png" %></div>
      <div class="cp_slide_item"><%= image_tag "sample4.png" %></div>
      <div class="cp_slide_item"><%= image_tag "sample5.png" %></div>
    </div>
  </div>
  <%# スライドショー %>

  <div class="contents">
    <%# レビューの表示 %>
    <div class="contents-left">
      <div class="card">
        <h1 class="new-review">最新の要約</h1>
          <%= render partial: "book", locals: { book: @books} %> 
          <%= paginate @books %>
      </div>
    </div>
    <%# レビューの表示 %>

    <%# ランキングの表示 %>
    <div class="contents-right">
      <h3>今週の要約ランキング</h3>
      <% @random.each do |book| %>
        <ul class="card-list">
          <li class="card__body">
            <p><%= link_to book.title, book_path(book.id), class: :card__title %>
            </p>
            <p><%= link_to image_tag(book.image, class: :card__img ), book_path(book.id) %>
            </p>
          </li>
        </ul>
      <% end %>
    </div>
    <%# ランキングの表示 %>
  </div>

<%= render "shared/footer" %> 

