<%= render "shared/header" %> 

<div class="container">
  <h2 class="book__title"><%= @book.title%></h2>
    <div class="book__contents">
      <div class="book__left-content">
        <p><%= image_tag @book.image, class: :book__img %> 
        </p>
      </div>
      <div class="book__center-content">
        <h3 class="review-box">レビュー</h3>
          <div class="box-inner">
            <%= @book.review%>
          </div>
      </div>
    </div>

  <%# いいね機能 %>
  <% if current_user.already_favorited?(@book) %>
    <%= link_to book_favorite_path(@book, [:id]), method: :delete do %>
    <i class="fas fa-thumbs-up"></i> 
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(@book), method: :past do %> 
    <i class="far fa-thumbs-up"></i>
    <% end %>
  <% end %>
  <%= @book.favorites.count %>
  <%# いいね機能 %>

  <%# ログインしていたら表示する %>
  <% if user_signed_in? && current_user.id == @book.user_id %>
    <div class="book__manage">
      <%= link_to "編集する", edit_book_path, class: :book__btn %>
      <%= link_to "削除する", book_path(@book.id), method: :delete, class: :book__btn %>
    </div>
  <% end %>
  <%# ログインしていたら表示する %>

  <%# コメントフォーム %>
  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with(model: [@book, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: :form %>
        <%= form.submit "投稿する", class: :book__btn %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <%# コメントフォーム %>
  
  <%# コメント一覧 %>
      <div class="comments">
        <h4>コメント一覧</h4>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.name, user_path(comment.user_id) %>：</strong>
              <%= comment.text %>
            </p>
          <% end %>
      </div>
  <%# コメント一覧 %>
  </div>
  <%# コメントフォーム %>

  <%# ランキングの表示
      <div class="book__right-content">
        <h3>今週の要約ランキング</h3>
      </div>
  ランキングの表示 %>
</div>

<%= render "shared/footer" %> 